@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-cabinet);
  --font-satoshi: var(--font-satoshi)
}

body {
  font-family: var(--font-geist);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility nav-text {
  @apply font-sans text-[1rem] text-black/80 uppercase font-normal;
}